@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TripsDrive</h1>
    <p class="lead">
        Агенција за изнајмување на превозни средства во Охрид.
    </p>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <h2>Возила</h2>
            <a href="~/Vehicles/Index">
                <img src="~/Content/Images/car.jpg" style="width:300px; height:300px" />
            </a>
        </div>
        <div class="col-md-4">
            <h2>Вработени</h2>
            <a href="~/Users/Index">
                <img src="~/Content/Images/emp.jpg" style="width:400px; height:300px" />
            </a>
        </div>
        <div class="col-md-4">
            <h2>Клиенти</h2>
            <a href="~/Customers/Index">
                <img src="~/Content/Images/cust.jpg" style="width:300px; height:300px" />
            </a>
        </div>
    </div>
}